.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-select {
  background-color: #94e499;
  color: white;
}

.custom-option {
  background-color: #94e499;
  color: #333;
}

/* Option highlight color when selected or hovered */
.custom-select option:checked, .custom-select option:hover {
  background-color: white; /* Highlight color */
  color: #000; /* Highlighted text color */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
