

nav {
    display: grid;
    justify-content: center;
    background-color: #f6d193;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    place-items: center;
    line-height: 2.25em;
}
nav a {
    text-align: center;
    color: #783e04;
    text-decoration: none;
    margin: auto;
    font-size: 1.5em;
}
nav a:hover {
    background-color: #AABD8C;
    color: white;
}
nav a img {
    width: 125px;

}
#home {
    grid-column: 3/4;
    padding: 45px;
}
#menu {
    grid-column: 4/5;
    padding: 45px;
}
#about {
    grid-column: 5/6;
    padding: 45px;
}
#table-img {
    width: 100%;

}
body {
    background-color: #f6d193;
}
.food-img {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 4fr 1fr;
    padding-top: 50px;
    padding-bottom: 75px;
}
.burger {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 350px;
    align-self: center;
}
/* Flip card CSS */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card1 {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    grid-column: 2/3;
    grid-row: 1/2;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner1 {
    position: relative;
    width: 350px;
    height: 350px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card1:hover .flip-card-inner1 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front1, .flip-card-back1 {
    position: absolute;
    width: 350px;
    height: 350px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front1 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back1 {
    background-color: #f6d193;
    color: #783e04;
    transform: rotateY(180deg);
    width: 350px;
    height: 350px;
    border: 2px solid #a78446;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

.chips {
    grid-column: 3/4;
    grid-row: 1/2;
    width: 350px;
    align-self: center;
}
/* Flip card CSS */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card2 {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    grid-column: 3/4;
    grid-row: 1/2;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner2 {
    position: relative;
    width: 350px;
    height: 350px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card2:hover .flip-card-inner2 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front2, .flip-card-back2 {
    position: absolute;
    width: 350px;
    height: 350px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front2 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back2 {
    background-color: #f6d193;
    color: #783e04;
    transform: rotateY(180deg);
    width: 350px;
    height: 350px;
    border: 2px solid #a78446;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.boba {
    grid-column: 4/5;
    grid-row: 1/2;
    width: 350px;
    height: 350px;
    align-self: center;
}

/* Flip card CSS */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card3 {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    grid-column: 4/5;
    grid-row: 1/2;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner3 {
    position: relative;
    width: 350px;
    height: 350px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card3:hover .flip-card-inner3 {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front3, .flip-card-back3 {
    position: absolute;
    width: 350px;
    height: 350px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front3 {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back3 {
    background-color: #f6d193;
    color: #783e04;
    transform: rotateY(180deg);
    width: 350px;
    height: 350px;
    border: 2px solid #a78446;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#flavor_text {
    margin: 25px;
}
.order {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: center;
    text-align: center;
    padding: 20px; 
    margin: 20px;
    color: #783e04;
    border: 2px solid #a78446;
    background-color: #f6d193;
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.body-text-img {
    display: grid;
    grid-template-rows: 10fr 1fr 10fr;
    grid-template-columns: 10fr 1fr 10fr;
    padding-right: 150px;
    padding-left: 75px;
}
#restaurant {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
    align-self: center;

    width: 500px;
}
.text1 {
    grid-row: 1/2;
    grid-column: 3/4;
    text-align: left;
    font-size: 1.5em;
    line-height: 2em;
    color: white;
    background-color: #AABD8C;
    padding-left: 25px;
    padding-right: 25px;
    align-self: center;
    height: 400px;
}
.text2 {
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: left;
    font-size: 1.5em;
    line-height: 2em;
    color: white;
    background-color: #AABD8C;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    align-self: center;
    height: 300px;
}
#thumbs-up {
    grid-row: 3/4;
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
    width: 500px;
}
footer {
    background-color: #f6d193;
    color: #783e04;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1.2em;
}
footer p:hover {
    text-decoration: underline;
}
footer a {
    color: #783e04;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer .social img {
    padding-top: 15px;
}


/* MENU */


main.menu-grid {
    display: grid;
    grid-template-rows: .25fr .25fr 1fr 2fr 1fr .25fr .25fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.background-img {
    z-index: -1;
}
.boba-background {
    width: 100%;   
}
.background-img1 {
    grid-row: 2/5;
    grid-column: 1/3;
}
.assorted-boba-background {
    width: 100%;
}
.background-img2 {
    grid-row: 4/8;
    grid-column: 3/5;
}
.menu {
    grid-row: 3/6;
    grid-column: 2/4;
    z-index: 0;
    padding: 25px 100px 25px 100px;
    color: white;
    background-color: #AABD8C;
    line-height: 2em;
    box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.3);
}
.menu h1 {
    font-size: 3em;
}
#cheese-burger {
    padding-top: 25px;
}



/* ABOUT US */

.aboutus-grid {
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
}
.top-paragraph {
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 5fr .25fr 4fr;
    padding: 25px;
    margin: auto;
}
.top-paragraph h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 3em;
    justify-self: left;
    
}
.top-paragraph p {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 1.5em;
    align-self: start;
    justify-self: left;
    padding: 15px;
    line-height: 2em;
    color: white;
    background-color: #AABD8C;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.aboutus-img {
    grid-column: 3/4;
    grid-row: 2/3;
    align-self: end;
    justify-self: left;
}
.aboutus-img img {
    width: 100%;
}
.about-us-p {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr .25fr 2fr .25fr 2fr;
}
.about-us-p h2 {
    font-size: 2em;
}
.about-us-p p {
    font-size: 1.15em;
    padding: 15px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    line-height: 2em;
    color: white;
    background-color: #AABD8C;
}
#expansion {
    grid-row: 1/2;
    grid-column: 1/2;
    justify-self: center;
}
#p1 {
    grid-row: 2/3;
    grid-column: 1/2;

}
#community {
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: center;
}
#p2 {
    grid-row: 2/3;
    grid-column: 3/4;
}
#customerexperience {
    grid-row: 1/2;
    grid-column: 5/6;
    justify-self: center;
}
#p3 {
    grid-row: 2/3;
    grid-column: 5/6;
}