body {
  padding: 0;
  margin: 0;
}
header {
  background-color: #00897b;
  color: white;
  padding: 0 0 0 2.5em;
  display: grid;
  grid-template-columns: 1fr 1.125fr;
  align-items: center;
}
.header {
  grid-column: 1/2;
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 2.5em;
  grid-row: 1/2;
  margin: 0;
}
nav {
  justify-content: right;
  gap: 1.5em;
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.5em;
}
a.nav {
  color: white;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  text-align: right;
  align-items: center;
}
nav ul li:hover {
  font-weight: bold;
  text-decoration: underline;
}
label {
  width: 5em;
  height: 2em;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
input {
  width: 0;
  height: 0;
  visibility: hidden;
}
label:after {
  content: "";
  width: 1.75em;
  height: 1.75em;
  position: absolute;
  top: .12em;
  left: .12em;
  background: linear-gradient(180deg, #00897B, #003E34);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
input:checked + label {
  background: #242424
}
input:checked + label:after {
  left: 3.025em;
  transform: translateZ(-100%);
  background: linear-gradient(180deg, #ABFFFF, #00897B);
}
label, label:after {
  transition: 0.3s;
}
label:active:after {
  width: 2.6em;
}
.dark {
  background-color: #3b3b3b;
  color: white;
}
.dark a.header {
  color: white;
}
.dark h2, .dark h3{
  color: #ABFFFF;
}
h2 {
  color: #00897b;
  font-size: 2em;
}
#aboutme {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  padding: 2.5em 2.5em;
  margin: 0 auto;
  align-items: center;
}
#aboutme img {
  grid-column: 1/2;
  max-width: 75%;
  grid-row: 1/3;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}
#aboutme h2 {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0;
  font-size: 2.5em;
}
#aboutme p {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 1.5em;
}
h3 {
  color: #00897b;
  font-size: 2.5em;
  margin-bottom: 0.5em;
}
main {
  margin: 0 10em;
}
#skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#skills img {
  max-width: 15%;
  margin-top: 1em;
}
.experienceBox {
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  grid-row: 2/3;
  text-align: center;
  margin: 0 2.5em;
}
.experienceBox:hover {
  transition: filter .3s ease-in-out, transform .5s ease-in-out;
  transform: scale(1.05);
}
.projectsList {
  margin: 0 5em;
}
hr {
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 1.5em;
  border-top: 2px solid #c0c0c0;
}
.bobaburger {
  max-width: 25em;
  filter: saturate(.25);
  border: 2.5px solid #00897b;
  border-radius: .45em;
  margin-bottom: 1em;
  margin-left: 2.6em;
}
.bobaburger:hover {
  filter: none;
  transition: filter .3s ease-in-out, transform .5s ease-in-out;
  transform: scale(1.05);
}
h4 {
  font-weight: bold;
  font-size: 1.25em;
  margin: 0.5em 0;
}
h4 a {
  color: black;
  text-decoration: none;
}
h4 a:hover {
  color: #00897b;
  text-decoration: none;
  font-size: 1.1em;
}
.projectsList li {
  margin-left: 1.25em;
  margin-bottom: 1.5em;
}
.reccomendationsQuotes {
  text-align: center;
}
.reccomendationsQuotes a {
  color: black;
  padding: 0 1%;
}
.reccomendationsQuotes a:hover {
  color: #00897b;
}
footer {
    text-align: right;
}
.social, .github-mark {
  max-width: 2.5em;
  max-height: 2.5em;
  padding-bottom: .5em;
}
#scrollToTopBtn {
    max-width: 2.5em;
    padding: 1em 2em;
}
#scrollToTopBtn:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    overflow-x: hidden;
    width: 90%;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
  }
  main {
    margin: 0;
    padding: 0 3em;
  }
  #aboutme {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  #aboutme h2 {
    font-size: 3em;
    padding: 1em 0;
  }
  #aboutme img {
    max-width: 75%;
  }
  #aboutme p {
    font-size: 1.5em;
    padding-top: 1.5em;
  }
  #skills {
    display: flex;
    flex-direction: column;
  }
  .experienceBox {
    margin: 1em 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    overflow-x: hidden;
    width: 83%;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  nav ul {
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
  }
  main {
    margin: 0;
    padding: 0 3em;
  }
  #aboutme {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  #aboutme h2 {
    font-size: 3em;
    padding: 1em 0;
  }
  #aboutme img {
    max-width: 75%;
  }
  #aboutme p {
    font-size: 1.5em;
    padding-top: 1.5em;
  }
  #skills {
    display: flex;
    flex-direction: column;
  }
  .experienceBox {
    margin: 1em 10em;
  }
}